/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: black;
  margin: 0px;
  text-align: center;
  /*  display: flex;
  flexbox:  flex-wrap;*/
}
#ul-nav {
  background-color: #ebcd23;
  margin: 0;
  overflow: hidden;
}
.nav-link {
  text-decoration: none;
  display: inline;
  font-size: 28px;
  padding: 0px 20px;
  color: white;
}
.nav-link::active {
  color: white;
}
h1,
p {
  color: white;
}
p {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.container {
  display: flex;
}
#about-me {
  max-width: 50%;
}
#song-of {
  max-width: 50%;
}
.c-site-footer {
  color: white;
}
button {
  background-color: #f2bd06;
}
a {
  text-decoration: none;
}
ul {
  color: white;
}
/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
