/*  =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: black;
  margin: 0px;
  text-align: center;
  /*  display: flex;
  flexbox:  flex-wrap;
}
#ul-nav {
  background-color: #ebcd23;
  margin: 0;
  overflow: hidden;
}
li.nav-link {
  text-decoration: none;
  display: inline;
  padding: 0px 20px;
  color: white;
}
.nav-link:active {
  color: white;
}
.nav-link:visited {
  color: white;
}
h1,
p {
  color: white;
}
p {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.container {
  display: flex;
}
#about-me {
  max-width: 50%;
}
#song-of {
  max-width: 50%;
}
.c-site-footer {
  color: white;
}
button {
  background-color: #f2bd06;
}
a {
  text-decoration: none;
}
ul {
  color: white;
}
/* don't edit this 
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
} 
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
}
/* NAVIGATION */
.nav-container {
  background-color: #f6d212;
  padding: 5px;
}
.nav-item {
  list-style-type: none;
  display: inline;
}
.right-nav {
  float: right;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 22px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0px 10px;
  margin: 0px 10px;
  color: white;
}
.nav-img {
  height: 22px;
}
/* LANDING PAGE */
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#image {
  max-width: 75%;
}
.arrow {
  background: none;
  border: none;
  font-size: 30px;
}
.arrow:hover {
  border: #f6d212 dotted 2px;
}
/* ABOUT SECTION */
.about-section {
  padding: 0 60px;
}
.about-container {
  display: flex;
  justify-content: center;
}
hr {
  margin: 10px 50px;
}
#about {
  font-family: "Bungee Hairline", cursive;
  margin: 5px 50px 0px 50px;
}
#meee {
  max-width: 30%;
  padding: 20px;
  border-radius: 10%;
}
#about-p {
  max-width: 40%;
  padding: 0 40px;
  align-self: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.skills-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
}
.skillz {
  width: 100vw;
}
.skills-h {
  font-family: "Bungee Hairline", cursive;
}
.skills-li {
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  padding: 20px 0px;
}
.skill-icon {
  width: 100px;
}
/* CONTACT PAGE */
/* .contact-page {
  margin: auto;
} */
.contact-center {
  display: flex;
  justify-content: center;
  align-self: center;
}
#contact-h {
  font-family: "Bungee Hairline", cursive;
  font-size: 50px;
  margin: 0px;
  padding-top: 10px;
}
.contact-p {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 5px;
}
#message-board {
  list-style-type: none;
}
#inputz {
  width: 600px;
  height: 50px;
  text-align: center;
}
.message-board-style {
  border: brown dotted 20px;
  padding: 40px 100px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
}
#post-message {
  margin: 30px;
  padding: 5px 20px;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  background-color: lightseagreen;
  border-radius: 5%;
  color: white;
  border: seagreen;
}
/* FOOTER */
.c-site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: #f6d212;
  padding: 5px;
  color: white;
}
.display-none {
  display: none;
}
