/*  =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: black;
  margin: 0px;
  text-align: center;
  /*  display: flex;
  flexbox:  flex-wrap;
}
#ul-nav {
  background-color: #ebcd23;
  margin: 0;
  overflow: hidden;
}
li.nav-link {
  text-decoration: none;
  display: inline;
  padding: 0px 20px;
  color: white;
}
.nav-link:active {
  color: white;
}
.nav-link:visited {
  color: white;
}
h1,
p {
  color: white;
}
p {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.container {
  display: flex;
}
#about-me {
  max-width: 50%;
}
#song-of {
  max-width: 50%;
}
.c-site-footer {
  color: white;
}
button {
  background-color: #f2bd06;
}
a {
  text-decoration: none;
}
ul {
  color: white;
}
/* don't edit this 
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
} 
*/

body {
  margin: 0;
  height: 100vh;
}
/* NAVIGATION */
.nav-container {
  background-color: #f6d212;
  padding: 5px;
}
.nav-item {
  list-style-type: none;
  display: inline;
}
.right-nav {
  float: right;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
  margin: 0px 10px;
  color: white;
}
.nav-img {
  height: 22px;
}
/* LANDING PAGE */
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#image {
  max-width: 80%;
}
.arrow {
  background: none;
  border: none;
  font-size: 30px;
}
.arrow:hover {
  border: #f6d212 dotted 2px;
}
/* ABOUT SECTION */
.about-section {
  padding: 0 60px;
  height: 100vh;
}
.about-container {
  display: flex;
  justify-content: center;
}
#meee {
  max-width: 20%;
  padding: 20px;
}
#about-me {
  max-width: 50%;
  padding: 0 40px;
  align-self: center;
  text-align: center;
}
/* CONTACT PAGE */
.contact-page {
  height: 100vh;
}
/* FOOTER */
.c-site-footer {
  text-align: center;
  margin-top: auto;
  background-color: #f6d212;
  padding: 5px;
  color: white;
}
.display-none {
  display: none;
}
