* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
}

/* NAVIGATION */
.nav-container {
  background-color: #f6d212;
  padding: 5px;
}
.nav-item {
  list-style-type: none;
  display: inline;
}
.right-nav {
  float: right;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 22px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0px 10px;
  margin: 0px 10px;
  color: white;
}
.nav-img {
  height: 22px;
}

/* LANDING PAGE */
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#image {
  max-width: 75%;
}
.arrow {
  background: none;
  border: none;
  font-size: 30px;
}
.arrow:hover {
  border: #f6d212 dotted 2px;
}

/* ABOUT SECTION */
.about-section {
  padding: 0 60px;
}
.about-container {
  display: flex;
  justify-content: center;
}
hr {
  margin: 10px 50px;
}
#about {
  font-family: "Bungee Hairline", cursive;
  margin: 5px 50px 0px 50px;
}
#meee {
  max-width: 30%;
  padding: 20px;
  border-radius: 10%;
}
#about-p {
  max-width: 40%;
  padding: 0 40px;
  align-self: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.skills-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
}
.skillz-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillz {
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 150px;
}
.skills-h {
  font-family: "Bungee Hairline", cursive;
}
.skills-li {
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
}
.skill-icon {
  width: 100px;
}

/* CONTACT PAGE */
.contact-center {
  display: flex;
  justify-content: center;
  align-self: center;
}
#contact-h {
  font-family: "Bungee Hairline", cursive;
  font-size: 50px;
  margin: 0px;
  padding-top: 10px;
}
.contact-p-container {
  padding-bottom: 15px;
}
.contact-p {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 5px;
}
#message-board {
  list-style-type: none;
}
#inputz {
  width: 600px;
  height: 50px;
  text-align: center;
}
.message-board-style {
  border: #784430 dotted 15px;
  padding: 40px 100px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
}
#post-message {
  margin: 30px;
  padding: 5px 20px;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  background-color: #1d9371;
  border-radius: 5%;
  color: white;
  border: seagreen;
}
#post-message:hover {
  border: #f6d212 dotted 2px;
}

/* FOOTER */
.c-site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: #f6d212;
  padding: 5px;
  color: white;
  font-family: "Roboto Mono", monospace;
}
.display-none {
  display: none;
}
